<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aapanavyapar.aapanavyapar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoav"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoav"
        android:supportsRtl="true"
        android:theme="@style/Theme.AapanaVyapar">
        <activity
            android:name=".ViewProvider"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AapanaVyapar.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.AapanaVyapar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>